.body_main {
    background-color: rgb(236, 236, 236);
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}

.main {
    margin-top: 15px;
    padding-bottom: 50px;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    background-color: rgb(236, 236, 236);
}

.main_left {
    font-family: Comic Sans MS;
    /* background: #e2e2e2; */
    width: 80%;
    padding-bottom: 15px;
}

.main_left_top_title {
    text-shadow: 1px 1px 0px #888888;
    font-size: 30px;
    font-weight: 900;
}

.main_left_top {
    border: 1px #d5d8d9 solid;
    /* border: 3px solid #787878; */
    /* margin: 0 auto; */
    background-color: #ffffff;
    padding-top: 15px;
    /* margin-left: 50px; */
    /* height: 250px; */
    /* padding-bottom: 15px; */
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border-radius: 10px;
    /* padding-bottom: 40px;*/
}

.main_left_top_inputbox {
    display: flex;
    width: 90%;
    /* height: 80px; */
    /* background-color: rgb(226 226 226); */
    /* background-color: rgb(236, 236, 236); */
    /* border-radius: 15px 50px 15px 50px; */
    /* border-radius: 15px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px #e0dfdf solid;
}

.div_message_btnbox {
    display: flex;
    /* margin: 0px 17px; */
    /* margin-left: 30px; */
    /* background-color: rgb(219 219 219); */
    /* height: 90px; */
    /* padding: 5px 0px; */
}

.main_left_top_inputbox select {
    /* color: white; */
    background-color: #f5f5f5;
    padding-left: 8px;
    height: 40px;
    width: 25%;
    font-size: 24px;
    border-radius: 10px;
}

.div_message_btn {
    /* background-color: rgb(226 226 226); */
    /* background-color: rgb(236, 236, 236); */
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
}

.div_message_btn_img {
    width: 60px;
    margin-left: 5px;
    opacity: 0.5;
}

.div_message_btnbox_left>input {
    border: 2px solid #313131;
    height: 22px;
    width: 22px;
    align-items: center;
    margin-right: 5px;
    border-radius: 50%;
    transition: 0.3s all linear;
    background: #f5f5f5;
    ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.div_message_btnbox_left>input:checked {
    background: #000000;
}

.div_message_btn>a {
    font-size: 20px;
}


/* ---------------------------- */

.member_textarea {
    display: flex;
    flex-direction: column;
}

.member_out_text {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4em;
    margin-top: 5px;
    color: #666666;
}

.member_out_text>a {
    margin: 0 2px;
}

.member_out_stock {
    color: #000000;
    FONT-WEIGHT: 700;
}

.member_textarea textarea {
    background-color: whitesmoke;
    border-width: 0px;
    margin: 0px;
    width: 90%;
    height: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px 10px;
    /* border-radius: 15px; */
    border: 1px solid #949494;
    resize: none;
}

.member_out_btn {
    margin-top: 5px;
    display: flex;
    width: 92%;
}

.member_out_btn_error_text {
    flex: auto;
    align-self: center;
    /* text-align: right; */
    margin-right: 10px;
    color: #aa0000;
    font-size: 1em;
}

.member_out_btn>button {
    align-self: center;
    background-color: #313131;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 8px 10px;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 4px 0 rgb(0 0 0 / 25%);
}

.member_out_btn>button:active {
    background-color: #313131;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.member_out_btn>button:hover {
    background-color: #313131;
    opacity: 0.9;
}


/* ---------------------------- */

.administrator_delete_predict_message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}

.administrator_delete_predict_message img {
    width: 30px;
}


/* -----------messageout----------- */

.predict_message_box_result {
    width: 50px;
    position: absolute;
    right: 2%;
    top: 2%;
}

.predict_message_box_result>img {
    width: 50px;
    opacity: 0;
}

.predict_message_box {
    border: 1px #d5d8d9 solid;
    position: relative;
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 15px 0px;
    /* border-radius: 10px; */
    /* resize: auto;*/
    /* border: 1px solid #787878; */
}

.predict_message_box_image {
    width: 80px;
    padding-top: 20px;
    padding-left: 10px;
}

.predict_message_box_image>img {
    width: 80px;
    border-radius: 25px;
}

.predict_message {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 1.5em;
    /* margin-bottom: 40px; */
    padding: 10px 0px;
    width: 95%;
}

.message_box_loaddata {
    background-color: white;
    flex: none;
    width: 90%;
    padding: 1% 0% 0% 1%;
    /* font-size: 0.9em; */
    color: #000000;
    margin-left: 10px;
    /* margin-bottom: 5px; */
}

.message_box_title {
    flex: none;
    width: 95%;
    font-weight: bold;
    margin: 0px 1%;
    font-size: 1.2em;
}

.message_box_title_name {
    color: #000;
    text-shadow: 1px 1px 0px #888888;
}

.message_box_title_name:hover {
    text-shadow: 1px 1px 50px #000000;
}

.message_box_predict {
    flex: none;
    width: 90%;
    margin: 0% 1%;
    font-size: 1em;
    color: #444444;
    padding-left: 1em;
    font-weight: 800;
}

.message_box_text {
    word-break: break-all;
    white-space: pre-wrap;
    flex: none;
    width: 90%;
    padding: 1% 3%;
    font-size: 0.9em;
    color: #000000;
    border-bottom: 3px #e0dfdf solid;
}

.message_box_text_btn {
    display: flex;
    color: #222222;
    /* flex: none; */
    width: 92%;
    margin: 0px 1%;
    justify-content: space-between;
}

.message_box_date {
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: #444444;
    flex: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px;
    margin-right: 10px;
}

.message_box_btn {
    display: flex;
}

.message_box_btn_like {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: none;
    padding: 5px 10px;
    cursor: pointer;
}

.message_box_btn_like:hover {
    font-size: 1.1em;
}

.message_box_btn_like:active {
    font-size: 0.9em;
    padding: 5px 9px;
}

.message_box_btn_like>img,
.message_box_btn_message>img {
    width: 20px;
    margin-left: 2px;
    padding: 0 4px;
}

.message_box_btn_message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: none;
    padding: 5px 10px;
    cursor: pointer;
}

.message_box_btn_message:hover {
    FONT-WEIGHT: 600;
}

.message_box_other_message {
    display: none;
    /* align-items: flex-end; */
    width: 88%;
    background-color: #ffffff;
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    margin-left: 8px;
    border: 0px solid #f60;
    flex-direction: column;
}

.message_box_other_message_load {
    background-color: whitesmoke;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 3px;
    /* border-bottom: 1px #e0dfdf dashed; */
}

.message_box_other_message_load_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.message_box_other_message_load_left>img {
    width: 40px;
    opacity: 0.75;
}

.message_box_other_message_load_right {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.message_box_other_message_load_right_name {
    font-weight: bold;
    color: black;
    font-size: 1.0em;
}

.message_box_other_message_load_right_text {
    word-break: break-all;
    padding-left: 10px;
    /* font-weight: 600; */
    font-size: 1em;
    padding-bottom: 2px;
    white-space: pre-wrap;
    padding-top: 6px;
    padding-bottom: 6px;
}

.message_box_other_message_write {
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
    width: 98%;
    background-color: #ffffff;
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    margin-left: 8px;
    border: 0px solid #f60;
}

.message_box_predict_stock {
    text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px 0px 0px rgb(0 0 0 / 70%);
    color: rgb(80, 80, 80);
}

.message_box_predict_stock:hover {
    text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px -1px 0px rgb(0 0 0 / 70%);
    color: rgb(0, 0, 0);
}

.message_box_other_message_write>textarea {
    flex: auto;
    height: 25px;
    line-height: 25px;
    resize: none;
    font-size: 0.9rem;
    padding: 6px 10px;
    background-color: #f5f5f5;
    ;
    /* border-width: 0px; */
    border: 1px solid #c4c4c4;
    border-radius: 9px;
}

.message_box_other_message_write>img {
    width: 35px;
    height: 35px;
    padding: 0px 5px;
    cursor: pointer;
    opacity: 0.75;
}

.message_box_other_message_write>img:hover {
    opacity: 1;
    height: 36px;
}

.message_box_other_message_write>img:active {
    opacity: 1;
    height: 34px;
}

.message_box_text_btn_error_text {
    margin-top: 2px;
    display: none;
    FONT-WEIGHT: 600;
    color: #aa0000;
    font-size: 1em;
}


/**/

.base_load_gif_forum,
.base_load_gif_forum_rank,
.base_load_gif_forum_memberdata {
    display: flex;
}

.base_load_gif_forum>img {
    padding-top: 20px;
    margin: 0px auto;
    width: 150px;
}

.base_load_gif_forum_memberdata>img,
.base_load_gif_forum_rank>img {
    margin: 10px auto;
}


/* -------------right_memberdata--------------- */

.main_right {
    width: 20%;
    font-family: Comic Sans MS;
}

.main_right_memberdata_div {
    display: none;
    flex-direction: column;
    margin-top: 5px;
}

.main_right_memberdata.box {
    width: 95%;
    background-color: rgb(255, 255, 255);
    /* height: 200px; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
    font-size: 1.0em;
    border-bottom: 1px #e0dfdf solid;
    border: 1px #d5d8d9 solid;
}

.main_right_memberdata {
    text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px -1px 0px rgb(0 0 0 / 70%);
    width: 95%;
    background-color: rgb(255, 255, 255);
    /* height: 200px; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
    font-size: 1.0em;
    border-bottom: 1px #e0dfdf solid;
}

.main_right_memberdata.name {
    text-shadow: 1px 1px 0px #888888;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
}

.main_right_memberdata.name:hover {
    text-shadow: 1px 1px 50px #000000;
}

.main_right_memberdata_div>img {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}


/* －－－RANK－－ */

.main_right_ranking {
    margin-top: 5px;
    margin-bottom: 5px;
}

.div_main_right_rank_box {
    display: flex;
    cursor: pointer;
    /* text-align: center; */
    flex-direction: column;
    align-items: center;
}

.div_main_right_rank_box:hover {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
}


/* .main_right_ranking_stock member_name {} */

.main_right_ranking_title {
    text-align: center;
    FONT-WEIGHT: 700;
    font-size: 1.2em;
    width: 95%;
    background: linear-gradient( 270deg, #313131 0%, #484747 100%);
    color: white;
    padding: 2px 0px;
    margin: 0 auto;
}

.main_right_ranking_title.top {
    width: 100%;
}

.main_right_ranking_stock_no {
    text-shadow: 0 0 0.2em #d0cfcf, 0 0 0.2em #d3c4c2;
    border-right: 1px #ececec solid;
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #f9f9f9;
}

.main_right_ranking_stock_data {
    width: 85%;
    text-align: center;
}

.main_right_ranking_stock_data img {
    width: 50%;
}

.main_right_ranking_stock.member_name {
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 1px 1px 0px #888888;
}

.main_right_ranking_stock.member_name:hover {
    text-shadow: 1px 1px 50px #000000;
}

.main_right_ranking_stock {
    text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px -1px 0px rgb(0 0 0 / 70%);
    width: 95%;
    background-color: rgb(254 254 254);
    /* height: 200px; */
    margin: 0px auto;
    display: flex;
    padding: 0% 0%;
    font-size: 1.0em;
    border-bottom: 1px #e0dfdf solid;
    flex-direction: row;
    justify-content: center;
}

.main_right_ranking_stock.box {
    padding: 0% 0%;
    margin-bottom: 2px;
    border: 1px #d5d8d9 solid;
}

.main_right_ranking_stock span {
    padding: 1% 0%;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .main {
        width: 100%;
    }
    .body_main {
        background-color: rgb(236, 236, 236);
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;
    }
    .main_left {
        /* background: #e2e2e2; */
        width: 80%;
        margin: 0 auto;
        /* padding-bottom: 15px; */
    }
    .main_left_top {
        background-color: #ffffff;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        border-radius: 10px;
    }
    .main_left_top_inputbox {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .main_left_top_inputbox select {
        /* color: white; */
        /* padding-left: 8px; */
        width: 90%;
        margin: 10px;
    }
    .div_message_btnbox_left>input {
        margin-right: 0px;
    }
    .div_message_btn_img {
        width: 50px;
        margin-left: 5px;
    }
    .member_textarea {
        display: flex;
        align-items: center;
        padding: 5px 0px;
    }
    .predict_message_box_image {
        width: 12%;
        padding-top: 15px;
        padding-left: 7px;
    }
    .predict_message_box_image>img {
        width: 100%;
    }
    .predict_message {
        width: 88%;
    }
    .div_message_btnbox {
        padding: 5px 0px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    .main {
        width: 100%;
        flex-direction: column;
    }
    .body_main {
        background-color: rgb(236, 236, 236);
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;
    }
    .main_left {
        /* background: #e2e2e2; */
        width: 100%;
        margin: 0 auto;
        /* padding-bottom: 15px; */
    }
    .main_left_top {
        background-color: #ffffff;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        border-radius: 10px;
    }
    .main_left_top_inputbox {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .main_left_top_inputbox select {
        /* color: white; */
        /* padding-left: 8px; */
        width: 90%;
        margin: 10px;
    }
    .div_message_btnbox_left>input {
        margin-right: 0px;
    }
    .div_message_btn_img {
        width: 50px;
        margin-left: 5px;
    }
    .member_textarea {
        display: flex;
        align-items: center;
        padding: 5px 0px;
    }
    .predict_message_box_image {
        width: 12%;
        padding-top: 15px;
        padding-left: 7px;
    }
    .predict_message_box_image>img {
        width: 100%;
    }
    .predict_message {
        width: 88%;
    }
    .div_message_btnbox {
        padding: 5px 0px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }
    .message_box_btn_message {
        padding: 5px 0px;
    }
    .main_right {
        display: none;
        width: 100%;
    }
}