{% extends 'base.html' %} {% block content %}
<link href="/css/index.css" rel="stylesheet" type="text/css" media="all" />
<div class="index">
    <div class="index_main">

        <h1 class="index_main_slogan top">股Day-台灣50
        </h1>
        <h1 class="index_main_slogan end"> Stock-Prediction、discussion

        </h1> <img class="index_main_slogan_img" src="img/hi_.jpg">


        <a class="index_main_slogan_a1">台灣50成分股預測與討論。觀察各路好手的事前預測。</a>
        <a class="index_main_slogan_a1">會員之間的理性討論分析。小小降低投資股票的風險。</a>
        <div class="strat_join_member"><a href="/member_sigin" title="免費加入會員
            ">開始體驗</a></div>
        <div class="index_main_slogan_a">
            <a>事前諸葛亮 ， 我們不一樣?</a>
        </div>
        <hr/>
        <div class="index_main_introduce_title"> 站內服務導覽</div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">預測發布：挑戰成為最佳預測人</div>
            <img src="gif/01.gif">
        </div>


        <div class="index_main_introduce_text">預測結果審核：股市收盤後自動更新</div>
        <div class="predtict_result_box">
            <img class="img_predtict_win_img1" src="img/index/win.png">
            <img class="img_predtict_win_img2" src="img/success.png">
            <a class="predtict_result_box_text">成功</a>
        </div>
        <div class="predtict_result_box">
            <img class="img_predtict_win_img1" src="img/index/fail.png">
            <img class="img_predtict_win_img2" src="img/fail.png">
            <a class="predtict_result_box_text">失敗</a>
        </div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">資訊查詢：最新報價、相關新聞、最佳預測人排行、預測討論</div>
            <img src="gif/03.gif">
        </div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">排行榜：最佳預測、人氣、活躍</div>
            <img src="img/index/rank_.png">
        </div>
    </div>
</div>
{% endblock %}