.member_main_member_databydb {
    background-color: white;
    font-family: Comic Sans MS;
}

.member_main_member_databydb_memberdata_box {
    padding: 1%;
}

.member_modify_btn button {
    display: none;
    background-color: #313131;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 4px 10px;
    cursor: pointer;
    color: white;
}

.member_main_member_databydb_memberdata {
    font-size: 1.5em;
    margin: 1%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.member_main_member_databydb_memberdata div {
    width: 30%;
    color: #666666;
}

.member_main_member_databydb_memberdata.text {
    width: 80%;
}


/* member_modify_data */

.member_modify_data {
    border: 1px solid #CCCCCC;
    display: none;
    /* display: flex; */
    background: #FFFFFF;
    width: 360px;
    left: 50%;
    top: 80px;
    z-index: 99;
    border-radius: 6px;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    transform: translate(-50%, 6%)
}

.member_modify_data_top {
    width: 100%;
    height: 15px;
    background: linear-gradient( 270deg, #313131 0%, #484747 100%);
}

.member_modify_data_top_closebtn {
    position: absolute;
    left: 92%;
    top: 30px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.member_modify_data_top_closebtn>img {
    width: 100%;
    height: 100%;
}

.member_modify_data_title {
    margin: 15px;
    width: 310px;
    height: 27px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
}

#member_modify_data {
    display: flex;
    flex-direction: column;
}


/* .member_modify_data_name {
    margin-bottom: 10px;
    width: 90%;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Noto Sans TC;
} */


/* 
.member_modify_data_address {
    width: 310px;
    height: 47px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}
*/

.member_modify_data__title {
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
}

.member_modify_data__title_gender {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-content: center;
    align-items: center;
}

.member_modify_data__title a,
.member_modify_data__title_gender a {
    font-size: 1.1em;
    FONT-WEIGHT: 600;
    /* padding: 0%; */
    margin: 1.5% 0%;
    color: #666666;
}

.member_modify_data__title input,
.member_modify_data__title select {
    height: 40px;
    font-size: 14px;
    padding: 0% 2%;
    border: 1px solid #CCCCCC;
}

.member_modify_data__title_gender input {
    /* padding: 0%; */
    margin: 0% 7%;
    border: 2px solid #313131;
    height: 18px;
    width: 18px;
    align-items: center;
    margin-right: 8px;
    border-radius: 50%;
    transition: 0.3s all linear;
    /* background: #f5f5f5; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #CCCCCC;
}

.member_modify_data__title_gender>input:checked {
    background: #000000;
}

.member_modify_data__title_textarea1,
.member_modify_data__title_textarea2 {
    border: 1px solid #CCCCCC;
    resize: none;
    height: 50px;
    width: 100%;
    font-size: 18px;
}

.member_modify_data_return_text {
    width: 310px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f25252;
    margin-bottom: 10px;
}

.member_modify_data_form_btn {
    margin-top: 10px;
    width: 310px;
    height: 47px;
    background: #313131;
    border: #FFFFFF;
    border-radius: 5px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    display: none;
    z-Index: 50;
}