<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" href="{{ url_for('static', filename='img/stock.png') }}">
    <meta name="google-signin-client_id" content="836212664164-9qe1rvnjdo7bjaes585a0fc18haaod1j.apps.googleusercontent.com">

    <title>指數社群會</title>
</head>

<body>
    <div class="warp">
        <div class="head">
            <a class="head_left" href='/'> <img src="img/home.png" />網站名稱</a>
            <div class="head_center"></div>
            <div class="head_right logout">
                <div>
                    <a href='/member_sigin'>登入</a></div>

                <div>
                    <a href="/member_register">註冊</a></div>
            </div>
            <div class="head_right login">
                <div class="member_name">
                    嗨</div>

                <div class="member_logout" onclick="logout()">
                    登出</div>

            </div>
        </div>
        <div class="head_welcome ">
            <div class="head_welcomebox ">
                <div class="head_welcomebox_left ">
                    <a>網站名稱</a>
                    <a>slogan slogan</a>
                </div>
                <div class="head_welcomebox_right ">
                    <div onclick="location.href='/' " class="head_welcomebox_right btn1">
                        <img class=" head_welcomebox_right_img " src="img/homepage.png " alt=" ">
                        <a>首頁</a>
                    </div>
                    <div onclick="location.href='/' " class="head_welcomebox_right btn2">
                        <img class="head_welcomebox_right_img " src="img/information.png " alt=" ">
                        <a>關於本站</a>
                    </div>
                    <div onclick="location.href='/forum' " class="head_welcomebox_right btn3">
                        <img class="head_welcomebox_right_img " src="img/businessmen.png " alt=" ">
                        <a>討論</a>
                    </div>
                    <div onclick="location.href='/ ' " class="head_welcomebox_right btn4">
                        <img class="head_welcomebox_right_img " src="img/facebook-app-symbol.png " alt=" ">
                        <a>紛絲團</a>
                    </div>
                    <div onclick="location.href='/ ' " class="head_welcomebox_right btn5">
                        <img class="head_welcomebox_right_img " src="img/learning.png " alt=" ">
                        <a>買賣模擬</a>
                    </div>
                    <div onclick="location.href='/ ' " class="head_welcomebox_right btn6">
                        <img class="head_welcomebox_right_img " src="img/1900338.png " alt=" ">
                        <a>排行榜</a>
                    </div>
                    <div onclick="location.href='/member ' " class="head_welcomebox_right btn7">
                        <img class="head_welcomebox_right_img " src="img/speech.png " alt=" ">
                        <a>會員</a>
                    </div>
                </div>
            </div>
        </div>

        {% block content %} 默认内容 {% endblock %}

        <div class="footer ">
            <div class="footer_left ">
                <p class="footer_p ">本網站所供的所有數據、資料以及相關的服務皆為輔助會員判斷股市之工具僅供參考，請勿以此作為真實買賣交易之依據。投資人若依此以為買賣之依據，皆須自負盈虧之責任。本站不負任何法律責任。</p>
                <p class="footer_p ">資料來源<a href="http://www.tse.com.tw/ " target="_blank " rel="noreferrer noopener ">台灣證券交易所</a>、<a href="http://www.tpex.org.tw/ " target="_blank " rel="noreferrer noopener ">櫃檯買賣中心</a>。資料僅供參考，使用者依本資料交易發生交易損失需自行負責，本站對資訊正確、更新延誤或傳輸中斷不負任何責任。</p>
                <p class="footer_p ">最佳瀏覽模式：解析度1024*768以上，瀏覽器建議使用：Chrome、IE9.0以上。</p>
                <p class="footer_p ">Copyright © 2021 webname
                </p>

            </div>
            <div class=" footer_right ">
                <nav class="footer_link ">
                    <header class="footer_title ">站內服務</header>
                    <ul class="footer_ls ">
                        <li class="footer_item "><a href="/ " title=" ">會員</a></li>
                        <li class="footer_item "><a href="/ " title=" ">關於本站</a></li>
                        <li class="footer_item "><a href="/ " title=" ">討論區</a></li>
                        <li class="footer_item "><a href="/ " title=" ">粉絲團</a></li>
                        <li class="footer_item "><a href="/ " title=" ">模擬買賣</a></li>
                        <li class="footer_item "><a href="/ " title=" ">排行榜</a></li>
                    </ul>
                </nav>
                <nav class="footer_link ">
                    <header class="footer_title ">實用網站</header>
                    <ul class="footer_ls ">
                        <li class="footer_item "><a href="https://www.cnyes.com/ " title="Anue鉅亨網 " target="_blank " rel="noreferrer noopener "> Anue鉅亨網</a></li>
                        <li class="footer_item "><a href="https://www.moneydj.com/ " title="MoneyDJ理財網 " target="_blank " rel="noreferrer noopener ">MoneyDJ理財網 </a></li>
                        <li class="footer_item "><a href="https://statementdog.com/ " title="財報狗 " target="_blank " rel="noreferrer noopener ">財報狗 </a></li>

                    </ul>
                </nav>
                </nav>
                <nav class="footer_link ">
                    <header class="footer_title ">資料來源</header>
                    <ul class="footer_ls ">
                        <li class="footer_item "><a href="http://www.twse.com.tw/zh/ " target="_blank " title="台灣證券交易所 " rel="noreferrer noopener ">台灣證券交易所</a></li>
                        <li class="footer_item "><a href="http://www.otc.org.tw/web/?l=zh-tw " target="_blank " title="中華民國證券櫃檯買賣中心 " rel="noreferrer noopener ">中華民國證券櫃檯買賣中心</a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>

    <script src="/js/membercheck.js "></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad " async defer></script>

</body>

</html>