 {% extends 'base.html' %} {% block content %}
<div id="frame" class="register-wrapper">



    <h2 class="main-title register-title">免費加入</h2>

    <form action="/users" method="post ">

        <div class=" member_register ">
            <label>輸入Email作為您的帳號</label>
            <div><input required="required " maxlength="40 " aria-required="true " placeholder="輸入Email作為您的帳號 " type="email " size="40" value=" " /></div>

            <label>密碼：至少6個字母，英文、數字皆可</label>
            <div><input required="required " minlength="6 " maxlength="128 " aria-required="true " placeholder="密碼：至少6個字母 " size="40" type="password " /></div>

            <label>請再輸入一次密碼</label>
            <div><input required="required " minlength="6 " maxlength="128 " aria-required="true " placeholder="請再輸入一次密碼 " size="40" type="password " /></div>



            <button type="submit " class="member_register_submitbtn ">免費註冊新帳號</button>

        </div>
        <div class="law-declaration ">
            我已知悉網站的免責聲明。</a>
        </div>
        <div class="member_sign_in ">
            <a href="/users/sign_in ">會員登入</a>
        </div>
    </form>
</div>
</div>{% endblock %}