{% extends 'base.html' %} {% block content %}
<link href="/css/member_web/member_index.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/member_web/member_data.css" rel="stylesheet" type="text/css" media="all" />

<div class="member_">
    <div class="member_main">

        <div class="member_main_member">
            <div class="member_main_member_img"><img src="" alt="">

                <div class="member_main_member_img_change">
                    <label for="image_uploads">更換大頭貼</label>
                    <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                </div>

                <!-- <div class="member_main_member_img_change">更換大頭貼
                </div> -->



            </div>
            <div class="member_main_member_data">
                <div class="member_main_member_data_ name"></div>
                <div class="member_main_member_data_ interests">
                    <div>興趣：</div>
                    <div class="member_main_member_data_ interests text"></div>
                </div>
                <div class="member_main_member_data_ introduction">
                    <div>簡介：</div>
                    <div class="member_main_member_data_ introduction text"></div>
                </div>
                <div class="follow_btn"> <button name="btn">追蹤</button></div>


            </div>

        </div>
        <div class="member_main_head">
            <div onclick="location.href='/member'" class="member_main_head_btn1">預測討論</div>
            <div onclick="location.href='/member_data'" class="member_main_head_btn2">個人資料</div>
            <div onclick="location.href='/member_rank'" class="member_main_head_btn3">個人排行</div>
            <div onclick="location.href='/member_fans'" class="member_main_head_btn4">追蹤資訊</div>
            <div>待</div>
            <!-- 私人訊息 -->
        </div>

        <div class="member_main_member_databydb">
            <div class="member_main_member_databydb_memberdata_box">
                <div class="member_modify_btn" onClick="show_member_modify_data()"> <button>修改資料</button></div>

                <div class="member_main_member_databydb_memberdata name">
                    <div> 使用者名稱：</div>
                    <div class="member_main_member_databydb_memberdata text name"></div>
                    <div></div>
                    <div class="member_main_member_databydb_memberdata text "></div>
                </div>
                <div class="member_main_member_databydb_memberdata date">
                    <div>註冊日期：</div>
                    <div class="member_main_member_databydb_memberdata text date"></div>


                    <div>性別：</div>
                    <div class="member_main_member_databydb_memberdata text gender"></div>

                </div>
                <div class="member_main_member_databydb_memberdata birthday">
                    <div>生日：</div>
                    <div class="member_main_member_databydb_memberdata text birthday"></div>


                    <div>居住地：</div>
                    <div class="member_main_member_databydb_memberdata text address"></div>

                </div>
                <div class="member_main_member_databydb_memberdata interest">
                    <div>興趣：</div>
                    <div class="member_main_member_databydb_memberdata text interest"></div>

                </div>
                <div class="member_main_member_databydb_memberdata introduction">
                    <div>自我介紹：</div>
                    <div class="member_main_member_databydb_memberdata text introduction"></div>

                </div>
            </div>
        </div>


    </div>
</div>
<!-- 修改會員的表單 -->
<div id="hidebg" onClick="close_member_modify_data()"></div>

<div class="member_modify_data">
    <div class="member_modify_data_top"></div>
    <div class="member_modify_data_top_closebtn" onclick="close_member_modify_data()"><img src="/img/closebtn.png" /></div>

    <a class="member_modify_data_title">會員資料修改</a>
    <form action=" " method="post " id="member_modify_data">
        <div class="member_modify_data__title">
            <a>會員暱稱：</a>
            <input class=" member_modify_data_name" type="text" placeholder=" 輸入要修改的暱稱 " name="member_modify_name" />
        </div>
        <div class="member_modify_data__title">
            <a>居住地：</a>
            <select class="member_modify_data_address" name="member_modify_address" required onchange="">
                <option value=" ">[請選擇居住地]</option>
                <option value="臺北市">臺北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="臺中市">臺中市</option>
                <option value="臺南市">臺南市</option>
                <option value="高雄市">高雄市</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="新竹縣">新竹縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="南投縣">南投縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="屏東縣">屏東縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="臺東縣">臺東縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="金門縣">金門縣</option>
                <option value="連江縣">連江縣</option>
                <option value="基隆市">基隆市</option>
                <option value="新竹市">新竹市</option>
                <option value="嘉義市">嘉義市</option>
                <option value="其他"> 其他 </option>
            </select>
        </div>
        <div class="member_modify_data__title">
            <a>生日：</a>
            <input class=" member_modify_data_birthday" id="date" type="date" name="member_modify_birthday">
        </div>
        <div class="member_modify_data__title_gender">
            <a>性別：</a>
            <input class="member_modify_data__title_gender_input1" type="radio" name="member_modify_gender" value="男" required>男
            <input class="member_modify_data__title_gender_input2" type="radio" name="member_modify_gender" value="女">女</div>

        <div class="member_modify_data__title">
            <a>興趣</a>
            <textarea class="member_modify_data__title_textarea1" name="member_modify_interests"></textarea>
        </div>
        <div class="member_modify_data__title">
            <a>自我介紹</a>
            <textarea class="member_modify_data__title_textarea2" name="member_modify_introduction"></textarea>
        </div>
        <input class="member_modify_data_form_btn" type="submit" value="送出修改">

    </form>
    <a class="member_modify_data_return_text "></a>
</div>
<script src="/js/member_base.js"></script>
<script src="/js/member_index.js"></script>
<script src="/js/member_data.js"></script>


</div>
</div>{% endblock %}